<launch>

	<include file="$(find openni2_launch)/launch/openni2.launch" />

	<include file="$(find kinects_human_tracking)/launch/xtion_calib.launch" />

	<include file="$(find realtime_urdf_filter)/launch/realtime_urdf_filter.launch" />

	<include file="$(find kinects_human_tracking)/launch/kinect_img_bg_store.launch" />

	<include file="$(find kinects_human_tracking)/launch/kinect_img_bg_sub.launch" />

	<include file="$(find kinects_human_tracking)/launch/create_pc.launch" />
	
	<include file="$(find kinects_human_tracking)/launch/kinect_merge.launch" />
		
	<include file="$(find kinects_human_tracking)/launch/closest_pt_tracking.launch" />
	
	<include file="$(find ur_modern_driver)/launch/ur5_distance_control.launch" />

</launch>
	
